<app-client-navbar *ngIf="isClient"></app-client-navbar>
<app-unauthenticated-user-navbar *ngIf="!isClient"></app-unauthenticated-user-navbar>

<div class="bg-ghostwhite">
    <div class="overlay">
        <section id="photo" class="d-flex flex-column justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 ">
                        <h1 style="filter: brightness(100%);">Adventures</h1><br><br><br>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="cards my-5">
        <div class="container w-75">

            <div class="section-title mb-3 ms-3">
                <h2>Explore adventures...</h2>
            </div>

            
            <!-- SEARCH -->
            <div>
                <div class=" d-flex flex-row">
                    <mat-form-field class="example-form-field" style="width: 40%; margin-right: 1%;">
                        <mat-label>Search</mat-label>
                        <input matInput type="text" [(ngModel)]="searchText">
                        <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field style="width: 14%; margin-right: 5%;">
                        <mat-select required [(ngModel)]="searchCriteria">
                            <mat-option value="name">By Name</mat-option>
                            <mat-option value="location">By City</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button style="width:10%; height: 35px; margin-top: 1%;" (click)="search()">Search</button>
                </div>

                <div class=" d-flex flex-row">
                    <div class="" style="margin-right: 1%; margin-top: 1.5%;">
                        Sort by:
                    </div>
                    <mat-form-field style="width: 12%; margin-right: 1%;">
                        <mat-select [(ngModel)]="sortCriteria">
                            <mat-option value="name">Name</mat-option>
                            <mat-option value="city">Location</mat-option>
                            <mat-option value="rating">Rating</mat-option>
                            <mat-option value="price">Price</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field style="width: 12%; margin-right: 3%;">
                        <mat-select [(ngModel)]="sortOrder">
                            <mat-option value="asc">
                                Ascending
                            </mat-option>
                            <mat-option value="desc">
                                Descending
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div style="margin-right: 2%; margin-top: 1.5%; width: 6%;">
                        Filter by:
                    </div>
                    <div style="margin-right: 1%; margin-top: 1.5%;">
                        Location:
                    </div>
                    <mat-form-field style="width: 12%; margin-right: 2%;">
                        <mat-select [(ngModel)]="location">
                            <mat-option value="any">
                                Any
                            </mat-option>
                            <mat-option value="novi sad">
                                Novi Sad
                            </mat-option>
                            <mat-option value="veternik">
                                Veternik
                            </mat-option>
                            <mat-option value="beograd">
                                Beograd
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <div style="margin-right: 1%; margin-top: 1.5%;">
                        Rating:
                    </div>
                    <mat-form-field class="example-form-field" style="width: 7%; margin-right: 1%;">
                        <mat-label>from</mat-label>
                        <input matInput type="number" [(ngModel)]="ratingFrom">
                        <button *ngIf="ratingFrom" matSuffix mat-icon-button aria-label="Clear" (click)="ratingFrom=0">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="example-form-field" style="width: 7%; margin-right: 5%;">
                        <mat-label>to</mat-label>
                        <input matInput type="number" [(ngModel)]="ratingTo">
                        <button *ngIf="ratingTo" matSuffix mat-icon-button aria-label="Clear" (click)="ratingTo=5">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <button mat-raised-button style="width:10%; height: 35px; margin-top: 1%;" (click)="applyFilterAndSort()">Apply</button>

                </div>
            </div>

            <!-- ENTITETI -->
            <div class="row">
                <div *ngFor="let adventure of adventures" class=" d-flex align-items-stretch mt-4 box">
                    <div class="" style=" margin-right: 30px;">
                        <!--img style="width: 400px;" src="https://siamextreme.com/siamwp/wp-content/uploads/2019/11/FishingTripRACHAYAI-P1310116.jpg"-->
                        <img style="width: 400px;" src="https://www.thayerinnes.com/wp-content/uploads/2018/07/The-Best-Spots-for-Summer-Fishing-in-Michigan-e1531173392740.jpg">
                    </div>
                    <div style="width: 50%">
                        <h4 style="margin-bottom: 0.5%;"><a>{{adventure.name}}</a></h4>
                        <h5 style="margin-bottom: 3.5%;"><a>{{adventure.rating | number:'1.2-2'}}&starf; ({{adventure.reviewsNumber}})</a></h5>
                        <div class="d-flex">
                            <img style="width: 15px;" src="../../../assets/img/pin.png">
                            <p style="padding-left: 1%;"> {{adventure.address.street}} {{adventure.address.number}},
                                {{adventure.address.city}}, {{adventure.address.country}}</p>
                        </div>
                        <p style="margin-top: 1%;">{{adventure.description}}</p>
                        <p style="margin-top: 1%;">{{adventure.pricePerDay}} din / per day</p>
                        <button mat-button style="margin-top: 5%; ">
                            More details
                        </button>

                    </div>
                    <br>
                </div>

            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </section>
</div>