<h1 mat-dialog-title class="mt-3">Add new ship</h1>

<div mat-dialog-content class="row d-flex justify-content-center g-4">
  <div class="col-md justify-content-center">
    <table class="table-responsive mt-4 addItemTable">
      <colgroup>
        <col span="1" style="width: 45%" />
        <col span="1" style="width: 55%" />
      </colgroup>
      <tbody>
        <tr>
          <td class="label">Name</td>
          <td>
            <input class="text-start" type="text" name="name" [(ngModel)]="ship.name" />
          </td>
        </tr>
        <tr>
          <td class="label">Price</td>
          <td>
            <input class="text-start" type="number" name="price" [(ngModel)]="ship.pricePerDay" />
          </td>
        </tr>
        <tr>
          <td class="label">Street</td>
          <td>
            <input class="text-start" type="text" name="street" [(ngModel)]="ship.street" />
          </td>
        </tr>
        <tr>
          <td class="label">Street number</td>
          <td>
            <input class="text-start" type="number" name="number" [(ngModel)]="ship.number" />
          </td>
        </tr>
        <tr>
          <td class="label">City</td>
          <td>
            <input class="text-start" type="text" name="city" [(ngModel)]="ship.city" />
          </td>
        </tr>
        <tr>
          <td class="label">Postcode</td>
          <td>
            <input class="text-start" type="text" name="postcode" [(ngModel)]="ship.postcode" />
          </td>
        </tr>
        <tr>
          <td class="label">Country</td>
          <td>
            <input class="text-start" type="text" name="country" [(ngModel)]="ship.country" />
          </td>
        </tr>
        <tr>
          <td class="label">Capacity</td>
          <td>
            <input class="text-start" type="number" name="capacity" [(ngModel)]="ship.capacity" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md">
    <table class="table-responsive mt-4 addItemTable">
      <colgroup>
        <col span="1" style="width: 45%" />
        <col span="1" style="width: 55%" />
      </colgroup>
      <tbody>
        <tr>
          <td>
            <input id="checkid" type="checkbox" value="test"
              [(ngModel)]="ship.percentageTakenFromCanceledReservations" />
          </td>
          <td>
            <label for="checkid" style="word-wrap: break-word">Charge cancelled reservations?
            </label>
          </td>
        </tr>
        <tr>
          <td class="label" [ngClass]="{
              faded: !ship.percentageTakenFromCanceledReservations
            }">
            Take percentage
          </td>
          <td>
            <input class="text-start" type="number" name="percent"
              [disabled]="!ship.percentageTakenFromCanceledReservations" [(ngModel)]="ship.percentageToTake" />
          </td>
        </tr>
        <tr>
          <td class="label">Description</td>
          <td>
            <textarea class="text-start" name="description" [(ngModel)]="ship.description">
            </textarea>
          </td>
        </tr>
        <tr>
          <td class="label">Terms of use</td>
          <td>
            <textarea class="text-start" name="termsOfUse" [(ngModel)]="ship.termsOfUse">
            </textarea>
          </td>
        </tr>
        <tr>
          <td class="label">Length</td>
          <td>
            <input class="text-start" type="number" name="length" [(ngModel)]="ship.length" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md">
    <table class="table-responsive mt-4 addItemTable">
      <colgroup>
        <col span="1" style="width: 55%" />
        <col span="1" style="width: 45%" />
      </colgroup>
      <tbody>
        <tr>
          <td class="label">Max speed</td>
          <td>
            <input class="text-start" type="number" name="maxSpeed" [(ngModel)]="ship.maxSpeed" />
          </td>
        </tr>
        <tr>
          <td class="label">Number of engines</td>
          <td>
            <input class="text-start" type="number" name="numberOfEngines" [(ngModel)]="ship.numOfEngines" />
          </td>
        </tr>
        <tr>
          <td class="label">Power</td>
          <td>
            <input class="text-start" type="number" name="power" [(ngModel)]="ship.powerOfEngines" />
          </td>
        </tr>
        <tr>
          <td class="label">Ship type</td>
          <td>
            <select class="form-select" name="shipType" [(ngModel)]="ship.shipType">
              <option value="0">Boat</option>
              <option value="1">Yacht</option>
              <option value="2">Small ship</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="label">
            Additional
            <button class="btn ms-1" style="height: 30px; width: 30px; border-radius: 5px; padding: 0;"
              (click)="onAdd()">
              <i class="bi bi-plus mb-5"></i>
            </button>
          </td>
          <td>
            <textarea class="text-start" name="additionalEquipment" readonly>
                {{additionalEquipment}}
              </textarea>
          </td>
        </tr>
        <tr>
          <td class="label">
            Navigation tools
            <button class="btn ms-1" style="height: 30px; width: 30px; border-radius: 5px; padding: 0;"
              (click)="onAddTools()">
              <i class="bi bi-plus mb-5"></i>
            </button>
          </td>
          <td>
            <textarea class="text-start" name="navigationTools" readonly>
                {{navigationTools}}
              </textarea>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row d-flex justify-content-center" style="text-align: center">
  <mat-error *ngIf="hasErrors()">Fields can't stay empty!</mat-error>
  <mat-error>{{errorMessage}}</mat-error>
</div>

<div mat-dialog-actions class="justify-content-center align-items-center mt-1">
  <button (click)="onConfirm()" class="btn me-2" [disabled]="hasErrors() || found">
    Save
  </button>
  <button (click)="onDismiss()" class="btn" style="background: #f59494">
    Cancel
  </button>
</div>
