<header id="header" class="fixed-top">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div
        class="col-xl-9 d-flex align-items-center justify-content-lg-between"
      >
        <nav id="navbar" class="navbar navbar-expand-lg order-last order-lg-0">
          <button
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
            id="toggle"
          >
            <i class="bi bi-list mobile-nav-toggle"></i>
          </button>
          <h1 class="logo me-auto me-lg-5">
            <a href="/home">FishingBooker</a>
          </h1>
          <div
            class="collapse navbar-collapse menu ms-lg-5 me-lg-5"
            id="navmenu"
          >
            <ul class="navbar-nav ms-auto">
              <li><a class="nav-link active" href="/home">Home</a></li>
              <li>
                <a class="nav-link" href="/admin/allComplaints">Complaints</a>
              </li>
              <li class="dropdown">
                <a
                  ><span>Users</span> <i class="bi bi-chevron-down ms-1"></i
                ></a>
                <ul>
                  <li><a href="/admin/allUsers">All</a></li>
                  <li><a href="/admin/addNewAdmin">New Admin</a></li>
                  <li><a href="/admin/accountRequests">Account Requests</a></li>
                  <li><a href="/admin/deleteRequests">Delete Requests</a></li>
                </ul>
              </li>
              <li><a class="nav-link me-lg-5" href="#">Profile</a></li>
              <li>
                <button href="#" class="login-btn ms-lg-5">Log out</button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
