<header id="header" class="fixed-top">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div
        class="col-xl-9 d-flex align-items-center justify-content-lg-between"
      >
        <nav id="navbar" class="navbar navbar-expand-lg order-last order-lg-0">
          <button
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
            id="toggle"
          >
            <i class="bi bi-list mobile-nav-toggle"></i>
          </button>
          <h1 class="logo me-auto me-lg-5">
            <a href="/home">FishingBooker</a>
          </h1>
          <div
            class="collapse navbar-collapse menu ms-lg-5 me-lg-5"
            id="navmenu"
          >
            <ul class="navbar-nav ms-auto">
              <li><a class="nav-link active" href="/home">Home</a></li>
              <li>
                <a class="nav-link" href="/admin/allComplaints">Complaints</a>
              </li>
              <li>
                <a
                  class="nav-link"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#loyaltyModal"
                  >Loyalty</a
                >
              </li>
              <li class="dropdown">
                <a
                  ><span>Users</span> <i class="bi bi-chevron-down ms-1"></i
                ></a>
                <ul>
                  <li><a href="/admin/allUsers">All</a></li>
                  <li><a href="/admin/addNewAdmin">New Admin</a></li>
                  <li><a href="/admin/accountRequests">Account Requests</a></li>
                  <li><a href="/admin/deleteRequests">Delete Requests</a></li>
                </ul>
              </li>
              <li><a class="nav-link me-lg-5" href="#">Profile</a></li>
              <li>
                <button href="#" class="login-btn ms-lg-5">Log out</button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="modal fade" tabindex="-1" id="loyaltyModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Our Loyalty Program</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row my-3">
          <div class="col-6">
            <div class="d-inline-flex">
              <span class="material-icons mt-3 me-2" style="color: brown"
                >star</span
              >
              <form class="form-floating">
                <input
                  type="number"
                  class="form-control bg-light"
                  name="pointsB"
                  [(ngModel)]="loyaltyProgram.pointsForBronze"
                  (input)="error = ''"
                />
                <label for="floatingInputValue">Points</label>
              </form>
            </div>
          </div>
          <div class="col-6">
            <div class="d-inline-flex">
              <form class="form-floating">
                <input
                  type="number"
                  class="form-control bg-light"
                  name="percentB"
                  [(ngModel)]="loyaltyProgram.percentForBronze"
                  (input)="error = ''"
                />
                <label for="floatingInputValue">Discount</label>
              </form>
              <h5 class="mt-3 ms-1">%</h5>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-6">
            <div class="d-inline-flex">
              <span class="material-icons mt-3 me-2" style="color: silver"
                >star</span
              >
              <form class="form-floating">
                <input
                  type="number"
                  name="pointsS"
                  class="form-control bg-light"
                  id="floatingInputValue"
                  [(ngModel)]="loyaltyProgram.pointsForSilver"
                  (input)="error = ''"
                />
                <label for="floatingInputValue">Points</label>
              </form>
            </div>
          </div>
          <div class="col-6">
            <div class="d-inline-flex">
              <form class="form-floating">
                <input
                  type="number"
                  name="percentS"
                  class="form-control bg-light"
                  [(ngModel)]="loyaltyProgram.percentForSilver"
                  (input)="error = ''"
                />
                <label for="floatingInputValue">Discount</label>
              </form>
              <h5 class="mt-3 ms-1">%</h5>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-6">
            <div class="d-inline-flex">
              <span class="material-icons mt-3 me-2" style="color: gold"
                >star</span
              >
              <form class="form-floating">
                <input
                  type="number"
                  class="form-control bg-light"
                  name="pointsG"
                  [(ngModel)]="loyaltyProgram.pointsForGold"
                  (input)="error = ''"
                />
                <label for="floatingInputValue">Points</label>
              </form>
            </div>
          </div>
          <div class="col-6">
            <div class="d-inline-flex">
              <form class="form-floating">
                <input
                  type="number"
                  class="form-control bg-light"
                  name="percentG"
                  [(ngModel)]="loyaltyProgram.percentForGold"
                  (input)="error = ''"
                />
                <label for="floatingInputValue">Discount</label>
              </form>
              <h5 class="mt-3 ms-1">%</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11" style="text-align: center">
            <h6 style="color: red">{{ error }}</h6>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn"
          data-bs-dismiss="modal"
          (click)="close()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn"
          style="background: #f59494"
          (click)="save()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
