<nav
  class="navbar navbar-expand-lg order-last order-lg-0 navbar-light bg-light shadow-sm"
>
  <div class="container">
    <p class="logo navbar-brand">FishingBooker</p>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
      aria-label="Toggle navigation"
      id="toggle"
      click="collapsed = !collapsed"
      [attr.aria-expanded]="collapsed"
    >
      <i class="bi bi-list mobile-nav-toggle"></i>
    </button>
    <div
      class="collapse navbar-collapse menu"
      id="navmenu"
      [ngClass]="{ show: collapsed }"
    >
      <ul class="navbar-nav ms-auto">
        <li class="dropdown me-2">
          <a><span>Users</span> <i class="bi bi-chevron-down ms-1"></i></a>
          <ul>
            <li><a href="/admin/allUsers">All</a></li>
            <li><a href="/admin/addNewAdmin">New Admin</a></li>
            <li><a href="/admin/accountRequests">Account Requests</a></li>
            <li><a href="/admin/deleteRequests">Delete Requests</a></li>
          </ul>
        </li>
        <li class="dropdown me-2">
          <a><span>Reviews</span> <i class="bi bi-chevron-down ms-1"></i></a>
          <ul>
            <li><a href="/admin/allComplaints">Complaints</a></li>
            <li><a href="/admin/allReports">Reports</a></li>
          </ul>
        </li>
        <li>
          <a
            class="nav-link me-2"
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#loyaltyModal"
            >Loyalty</a
          >
        </li>
        <li class="nav-item me-2">
          <a href="#" exact class="nav-link"> Report </a>
        </li>
        <li class="nav-item me-2">
          <a href="/profile" exact class="nav-link"> Profile </a>
        </li>
        <li>
          <button class="login-btn ms-lg-5" (click)="logOut()">Log out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" tabindex="-1" id="loyaltyModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Our Loyalty Program</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row my-3">
          <div class="col-6">
            <div class="d-inline-flex">
              <span class="material-icons mt-3 me-2" style="color: brown"
                >star</span
              >
              <form class="form-floating">
                <input
                  type="number"
                  class="form-control bg-light"
                  name="pointsB"
                  [(ngModel)]="loyaltyProgram.pointsForBronze"
                  (input)="error = ''"
                />
                <label for="floatingInputValue">Points</label>
              </form>
            </div>
          </div>
          <div class="col-6">
            <div class="d-inline-flex">
              <form class="form-floating">
                <input
                  type="number"
                  class="form-control bg-light"
                  name="percentB"
                  [(ngModel)]="loyaltyProgram.percentForBronze"
                  (input)="error = ''"
                />
                <label for="floatingInputValue">Discount</label>
              </form>
              <h5 class="mt-3 ms-1">%</h5>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-6">
            <div class="d-inline-flex">
              <span class="material-icons mt-3 me-2" style="color: silver"
                >star</span
              >
              <form class="form-floating">
                <input
                  type="number"
                  name="pointsS"
                  class="form-control bg-light"
                  id="floatingInputValue"
                  [(ngModel)]="loyaltyProgram.pointsForSilver"
                  (input)="error = ''"
                />
                <label for="floatingInputValue">Points</label>
              </form>
            </div>
          </div>
          <div class="col-6">
            <div class="d-inline-flex">
              <form class="form-floating">
                <input
                  type="number"
                  name="percentS"
                  class="form-control bg-light"
                  [(ngModel)]="loyaltyProgram.percentForSilver"
                  (input)="error = ''"
                />
                <label for="floatingInputValue">Discount</label>
              </form>
              <h5 class="mt-3 ms-1">%</h5>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-6">
            <div class="d-inline-flex">
              <span class="material-icons mt-3 me-2" style="color: gold"
                >star</span
              >
              <form class="form-floating">
                <input
                  type="number"
                  class="form-control bg-light"
                  name="pointsG"
                  [(ngModel)]="loyaltyProgram.pointsForGold"
                  (input)="error = ''"
                />
                <label for="floatingInputValue">Points</label>
              </form>
            </div>
          </div>
          <div class="col-6">
            <div class="d-inline-flex">
              <form class="form-floating">
                <input
                  type="number"
                  class="form-control bg-light"
                  name="percentG"
                  [(ngModel)]="loyaltyProgram.percentForGold"
                  (input)="error = ''"
                />
                <label for="floatingInputValue">Discount</label>
              </form>
              <h5 class="mt-3 ms-1">%</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11" style="text-align: center">
            <h6 style="color: red">{{ error }}</h6>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn"
          data-bs-dismiss="modal"
          (click)="close()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn"
          style="background: #f59494"
          (click)="save()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
