<nav class="navbar navbar-expand-lg order-last order-lg-0 navbar-light bg-light shadow-sm">
  <div class="container">
    <p class="logo navbar-brand">FishingBooker</p>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navmenu" aria-label="Toggle navigation"
      id="toggle" click="collapsed = !collapsed" [attr.aria-expanded]="collapsed">
      <i class="bi bi-list mobile-nav-toggle"></i>
    </button>
    <div class="collapse navbar-collapse menu" id="navmenu" [ngClass]="{ show: collapsed }">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/estateOwner/home" exact class="nav-link me-3"> Home </a>
        </li>
        <li class="nav-item">
          <a (click)="confirmTransferCancelDialog()" exact class="nav-link me-3">
            Add property
          </a>
        </li>
        <li class="nav-item">
          <a href="/profile" exact class="nav-link"> Profile </a>
        </li>
        <li><button class="login-btn ms-lg-5" (click)="logOut()">Log out</button></li>
      </ul>
    </div>
  </div>
</nav>
