<div style=" display: flex;
flex-direction:column; ">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4 class="mb-5">FishingBooker</h4>
          <ul>
            <li><a href="#">Bulevar Oslobođenja 117, Novi Sad 21000</a></li>
            <li><a href="#">Serbia</a></li>
            <li><a href="#">About us</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4 class="mb-5">Navigate</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Reservations</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Other</a></li>
            <li><a href="#">Other</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4 class="mb-5">Contact us</h4>
          <ul>
            <li>Mobile</li>
            <li>+38164512358</li>
            <li>Email</li>
            <li>fishingbooker@gmail.com</li>
          </ul>
        </div>
        <div class="footer-col">
          <img class="img ms-5 mt-2" src="../../../assets/img/logo.svg">
        </div>
      </div>
    </div>
  </footer>
</div>
