<app-client-navbar></app-client-navbar>

<div class="bg-ghostwhite">
    <div class="overlay">
        <section id="photo" class="d-flex flex-column justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 ">
                        <h1 style="filter: brightness(100%);">Subscriptions</h1><br><br><br>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="cards my-5">
        <div class="container w-75">

            <div class="section-title mb-3 ms-3">
                <h2>Your subscriptions</h2>
            </div>

            <!-- vikenice - isto i za camce i za avanture--> 
            <div class="row">
                <div *ngFor="let subscription of subscriptions" class=" d-flex align-items-stretch mt-4 box">
                    <div class="" style=" margin-right: 30px;">
                        <img style="width: 400px;" src="../../../assets/img/estate-small.jpg" *ngIf="subscription.type == 'ESTATE'">
                        <img style="width: 400px;" src="../../../assets/img/boat-small.jpg" *ngIf="subscription.type == 'SHIP'">
                        <img style="width: 400px;" src="../../../assets/img/instructor-small.jpg" *ngIf="subscription.type == 'ADVENTURE'">
                    </div>
                    <div style="width: 50%">
                        <h4 style="margin-bottom: 0.5%;"><a>{{subscription.name}}</a></h4>
                        <h5 style="margin-bottom: 3.5%;"><a>{{subscription.rating | number:'1.2-2'}} &starf; ({{subscription.reviewsNumber}})</a></h5>
                        <div class="d-flex">
                            <img style="width: 15px;" src="../../../assets/img/pin.png">
                            <p style="padding-left: 1%;"> {{subscription.address.street}} {{subscription.address.number}},
                                {{subscription.address.city}}, {{subscription.address.country}}</p>
                        </div>
                        <p style="margin-top: 1%;">{{subscription.description}}</p>
                        <p style="margin-top: 1%;">{{subscription.pricePerDay}} EUR / per day</p>
                        <button mat-button style="margin-top: 5%; " (click)="unsubscribe(subscription.id, subscription.serviceId)">
                            Unsubscribe
                        </button>

                    </div>
                    <br>
                </div>

            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </section>
</div>