<!-- BACKGROUND PHOTO -->
<div class="overlay">
  <section id="photo" class="d-flex flex-column justify-content-center">
    <div class="container">
    </div>
  </section>
</div>
<!-- END OF BACKGROUND -->

<!-- LOGIN -->
<div class="center justify-content-center" style="height: 460px;">
  <div class="content mt-3">
    <h1>Welcome</h1>

    <div class="row g-5 justify-content-center">
      <div class="col-md-4">
        <div class="textField">
          <input type="text" required>
          <span></span>
          <label>First Name</label>
        </div>
        <div class="textField">
          <input type="text" required>
          <span></span>
          <label>Address</label>
        </div>
        <div class="textField">
          <input type="text" required>
          <span></span>
          <label>City</label>
        </div>
      </div>

      <div class="col-md-4">
        <div class="textField">
          <input type="text" required>
          <span></span>
          <label>Last Name</label>
        </div>
        <div class="textField">
          <input type="text" required>
          <span></span>
          <label>Country</label>
        </div>
        <div class="textField mb-5">
          <input type="text" required>
          <span></span>
          <label>Phone number</label>
        </div>
        <button class="login">Sign Up</button>
      </div>

      <div class="col-md-4">
        <div class="textField">
          <input type="text" required>
          <span></span>
          <label>Email</label>
        </div>
        <div class="textField">
          <input type="password" required>
          <span></span>
          <label>Password</label>
        </div>
        <div class="textField mb-5">
          <input type="password" required>
          <span></span>
          <label>Repeat password</label>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END OF LOGIN -->
