<app-admin-navbar></app-admin-navbar>
<div class="container">
  <div class="row mx-auto" style="margin-top: 5rem">
    <div class="col-12 mx-auto">
      <div class="card shadow-sm" style="height: 600px">
        <div class="row my-5">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <h4 class="card-title" style="font-weight: bold">
                Table of Users
              </h4>
            </div>
          </div>
        </div>
        <div class="row my-2 ms-5">
          <div class="col-sm-6 col-lg-3 col-md-4">
            <select class="form-select">
              <option value="users">Users</option>
              <option value="boats">Boats</option>
              <option value="estates">Estates</option>
            </select>
          </div>
        </div>
        <div class="row" style="height: 300px">
          <div class="col-11 mx-auto">
            <div style="height: 250px; overflow: auto">
              <table class="table table-hover">
                <thead>
                  <tr *ngIf="filter === 'users'">
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Phone Number</th>
                  </tr>
                  <tr *ngIf="filter != 'users'">
                    <th scope="col">Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Address</th>
                    <th scope="col">Rating</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Petra</td>
                    <td>Jovic</td>
                    <td>pex@gmail.com</td>
                    <td>Estate Owner</td>
                    <td>6472682692</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-outline-danger">
                Delete Entity
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
