<app-client-navbar></app-client-navbar>

<div class="bg-ghostwhite">
    <div class="overlay">
        <section id="photo" class="d-flex flex-column justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 ">
                        <h1 style="filter: brightness(100%);">Reservation history</h1>
                        <br><br><br><br><br>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="cards my-5">
        <div class="container w-75">

            <div class="section-title mb-3 ms-3">
                <h2>Reservation history</h2>
            </div>

            <!-- SEARCH -->
            <div>
                <div class=" d-flex flex-row">
                    <div class="" style="margin-right: 1%; margin-top: 1.5%;">
                        Sort by:
                    </div>
                    <mat-form-field style="width: 16%; margin-right: 1%;">
                        <mat-select [(ngModel)]="sortCriteria">
                            <mat-option value="name">Name</mat-option>
                            <mat-option value="start">Start Date</mat-option>
                            <mat-option value="duration">Duration</mat-option>
                            <mat-option value="price">Price</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field style="width: 12%; margin-right: 3%;">
                        <mat-select [(ngModel)]="sortOrder">
                            <mat-option value="asc">Ascending</mat-option>
                            <mat-option value="desc">Descending</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="" style="margin-right: 1%; margin-top: 1.5%;">
                        Show:
                    </div>
                    <mat-form-field style="width: 16%; margin-right: 3%;">
                        <mat-select [(ngModel)]="serviceType">
                            <mat-option value="ALL">All</mat-option>
                            <mat-option value="ESTATE">Estates</mat-option>
                            <mat-option value="SHIP">Ships</mat-option>
                            <mat-option value="ADVENTURE">Adventure</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button mat-raised-button style="width:10%; height: 35px; margin-top: 1%;"
                        (click)="applySort()">Apply</button>

                </div>
            </div>

            <!-- ENTITETI -->
            <div class="row">
                <div *ngFor="let reservation of reservations">
                    <div class=" d-flex align-items-stretch mt-4 box" *ngIf="reservation.serviceType == serviceType || serviceType == 'ALL'">
                        <div style=" margin-right: 30px;">
                            <img style="width: 400px;" src="../../../assets/img/estate-small.jpg"
                                *ngIf="reservation.serviceType == 'ESTATE'">
                            <img style="width: 400px;" src="../../../assets/img/boat-small.jpg"
                                *ngIf="reservation.serviceType == 'SHIP'">
                            <img style="width: 400px;" src="../../../assets/img/instructor-small.jpg"
                                *ngIf="reservation.serviceType == 'ADVENTURE'">
                        </div>
                        <div style="width: 40%">
                            <h4 style="margin-bottom: 1%;"><a>{{reservation.serviceName}}</a></h4>
                            <h6>{{reservation.startDate | date : 'dd.MM.yyyy.'}} - {{reservation.endDate | date :
                                'dd.MM.yyyy.'}}</h6>
                            <h6 style="margin-top: 4%;" *ngIf="reservation.canceled">CANCELED</h6>
                            <h6 style="margin-bottom: 4%; margin-top: 4%;">People: {{reservation.capacity}}</h6>
                            <h6 style="margin-bottom: 2%;">Included services:</h6>
                            <p style="margin-top: 2%; margin-left: 3%;">&bull; {{reservation.additionalServices}}</p>
                            <!--<p style="margin-top: 2%; margin-left: 3%;">&bull; service 2</p>
                            <p style="margin-top: 2%; margin-left: 3%;">&bull; service 3</p>-->
                            <h5 style="margin-top: 8%;">Price: {{reservation.totalPrice}} EUR</h5>
                        </div>
                        <div style="margin-left: auto; margin-right: 2%;" *ngIf="!reservation.canceled">
                            <button mat-button style="margin-top: 5%; ">
                                Review
                            </button>
                            <button mat-button style="margin-top: 5%; ">
                                Make a complaint
                            </button>
                        </div>
                        <br>
                    </div>

                </div>
            </div>



        </div><br><br><br><br>
    </section>
</div>