<app-estate-owner-navbar></app-estate-owner-navbar>

<div class="homepage">
  <div class="overlay">
    <section id="photo" class="d-flex flex-column justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8">
            <h1>FishingBooker</h1>
            <h2>Owner page!</h2>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="cards homepage">
    <div class="container my-5">
      <div
        class="section-title mb-3 ms-3"
        style="display: inline-flex; width: 100%"
      >
        <h2>Villas</h2>
        <div class="textField" style="margin-left: auto; margin-right: 3%">
          <input
            type="search"
            placeholder="search..."
            [(ngModel)]="searchEstates"
            (input)="searchEstatesByName()"
          />
        </div>
      </div>

      <div class="row mt-2 g-4">
        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch"
          *ngFor="let estate of ownersEstates"
        >
          <div class="box card">
            <div class="cover">
              <img
                src="../../../assets/img/background1.jpg"
                alt="Property photo"
                class="img-responsive cover"
              />
            </div>
            <div class="propertyInfo">
              <h4 class="row">
                <div class="col-md" style="text-align: start">
                  <h4 id="propertyName">{{ estate.name }}</h4>
                </div>

                <div class="price col-md" style="text-align: end">
                  <span> €{{ estate.pricePerDay }} </span>
                </div>
              </h4>
              <span>{{ estate.description }}</span>
              <br />
              <div class="row mt-2">
                <div class="col-md">
                  <span
                    ><b>{{ estate.numOfRooms }} </b> rooms</span
                  >
                </div>
                <div class="col-md">
                  <span
                    ><b>{{ estate.numOfBeds }} </b> beds</span
                  >
                </div>
                <div class="col-md"></div>
              </div>
            </div>
            <a class="stretched-link" (click)="openEstate(estate.id)"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
