<div class="row mt-5">
  <div class="col-10 mx-auto">
    <div class="card shadow-sm">
      <h1 class="my-3" style="text-align: center">Ratings</h1>
      <div *ngFor="let rating of ratings">
        <div class="px-3">
          <hr />
        </div>
        <div class="row mx-5 my-2">
          <div class="col-8">
            <h3>
              {{ rating.user.firstName }} {{ rating.user.lastName }} (
              {{ rating.givenMark }}
              <span class="material-icons" style="color: yellow">star</span> )
            </h3>
          </div>
        </div>
        <div class="row mx-5 my-3">
          <div class="col-8">
            <h6>{{ rating.description }}</h6>
          </div>
        </div>
        <div
          class="d-flex justify-content-end my-3 me-5"
          *ngIf="rating.isReviewed === false"
        >
          <button
            class="me-2"
            style="border-radius: 100%; border: none; background: #6eb1dd"
            (click)="approveRating(rating.id)"
          >
            <span class="material-icons mt-1">done</span>
          </button>
          <button
            style="border-radius: 100%; border: none; background: #f59494"
            (click)="rejectRating(rating.id)"
          >
            <span class="material-icons mt-1">close</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
